@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Merriweather;
}
/* Sheared style start */
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pera{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
/* header-section start here */
.header-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background:rgba(0,0,0,0.5) url(../images/Banner-Image.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.header-content{
   flex-direction: column;
}

section h3{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
section h1{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
    
}
/* header-section End here */
/* 65% off offer style start */
.offer-section{
    flex-direction: column;
    width: 803px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}
.offer-section h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}
.offer-section h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}
.offer-section h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}
.offer-section img{
    margin-top: 48px;
}
/*65% off offer style end */
/* welcome Party section Start */
.welcome-party{
    border: 5px solid red;
    margin-bottom: 50px;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;    
    background:rgba(0,0,0,0.3)url(../images/Vectorrr.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.welcome-content h1{
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}
.welcome-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 72px;
}
.welcome-content span{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;    
}
.welcome-image img{
    margin-left: 100px;
}
/* welcome Party section end */
/* Place section start */
.place-cover{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.place-ditails{
    flex-direction: column;
}
.place-ditails h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.place-ditails h1 span{
    color: rgb(255, 0, 0);
}
.place-ditails .join-now{
    width: 167px;
    height: 56px;
    border-radius: 8px;
    border: none;
    margin-top: 64px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
/* Place section End */
/* Coming offer section start */
.coming-offer-cover{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
}
.coming-offer-left{
    width: 33.3%;
    height: 100%;
    padding-right: 50px;
    flex-direction: column;
    align-items: start;
}
.coming-offer-left h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.coming-offer-left h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    margin-bottom: 22px;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.coming-offer-mid{
    border-radius: 50%;
    width: 463px;
    height: 463px;
}
.coming-offer-mid img{
    justify-content: center;
    align-items: center;
}
.coming-offer-right{
    width: 33.3%;
    margin-top: 11%;
    padding-left: 12%;
}
.coming-offer-right h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
/* Coming offer section End */
/* holidays sale section start */
.holidays-sell-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: start;
    flex-direction: column;
    position: relative;
}
.holidays-text{
    width: 1068px;
    height: 260px;
    flex-direction: column;
}
.holidays-sell-container h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.holidays-sell-container h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}
.holidays-sell-container h1 span{
    color: rgb(255, 0, 0);
}
.holidays-sell-container p{
    text-align: center;
}
.solid-color{
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 77%;
    border-radius: 16px 0px 16px 16px;
    background: rgb(255, 0, 0);
}
.holidays-sell-container .gift{
    margin-top: 100px;
    width: 1320px;
    height: 662.07px;
}
.gift-box{
    position: relative;
    margin-right: 100px;
}
.discount{
    margin-bottom: 15%;
}
/* holidays sale section End */







/* Footer section start */
footer{
    margin: 500px;
}
/* Footer section End */